<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="TLDRule">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^gasboss\.net$" />
					</conditions>
					<action type="Redirect" url="http://www.gasboss.net/{R:1}" redirectType="Permanent" />
				</rule>
				<rule name="AWRule">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^gasboss\.azurewebsites\.net$" />
					</conditions>
					<action type="Redirect" url="http://www.gasboss.net/{R:1}" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
